##### IMPORT PACKAGES, ASSIGN DATAFRAME

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import math

In [2]:
sns.set(style="whitegrid", color_codes=True)
plt.style.use('fivethirtyeight')

In [3]:
df = pd.read_csv("Traffic_Counts_2012-2013.csv")

In [4]:
df.head()

,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/02/2013,106,74,45.0,...,371,398,324,394,379,329,249,197,187,169
1,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/03/2013,109,74,55.0,...,308,291,313,253,242,217,210,144,125,79
2,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/04/2013,36,28,11.0,...,426,425,419,469,425,358,224,185,132,74
3,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/05/2013,42,28,16.0,...,393,479,441,476,446,424,305,219,171,76
4,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/06/2013,35,38,12.0,...,383,384,391,369,401,338,236,186,123,76

In [5]:
df.columns

Index(['ID', 'Segment ID', 'Roadway Name', 'From', 'To', 'Direction', 'Date',
       '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM',
       '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM',
       '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM', '11:00-12:00PM',
       '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
       '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM',
       '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM'],
      dtype='object')

###### TO CONVERT THE DATATYPES INTO INT32 FROM FLOAT64:

In [6]:
li = ['12:00-1:00 AM','1:00-2:00AM', '2:00-3:00AM','3:00-4:00AM', '4:00-5:00AM','5:00-6:00AM', '6:00-7:00AM','7:00-8:00AM',
      '8:00-9:00AM','9:00-10:00AM','10:00-11:00AM','11:00-12:00PM','12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
      '4:00-5:00PM', '5:00-6:00PM','6:00-7:00PM','7:00-8:00PM','8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']

In [9]:
df[li] = df[li].astype(int)

In [10]:
df.dtypes

ID                int64
Segment ID        int64
Roadway Name     object
From             object
To               object
Direction        object
Date             object
12:00-1:00 AM     int32
1:00-2:00AM       int32
2:00-3:00AM       int32
3:00-4:00AM       int32
4:00-5:00AM       int32
5:00-6:00AM       int32
6:00-7:00AM       int32
7:00-8:00AM       int32
8:00-9:00AM       int32
9:00-10:00AM      int32
10:00-11:00AM     int32
11:00-12:00PM     int32
12:00-1:00PM      int32
1:00-2:00PM       int32
2:00-3:00PM       int32
3:00-4:00PM       int32
4:00-5:00PM       int32
5:00-6:00PM       int32
6:00-7:00PM       int32
7:00-8:00PM       int32
8:00-9:00PM       int32
9:00-10:00PM      int32
10:00-11:00PM     int32
11:00-12:00AM     int32
dtype: object

In [ ]:
# def to_Integer(x):
#     for index, rows in df[x].iteritems():
#         if(not(np.isnan(df[x].loc[index]))):
#             df[x].loc[index] = int(df[x].loc[index])

# for i in li:
#     to_Integer(i)

###### TO REPLACE THE NaN, ZERO VALUES WITH MEAN OF THE STREET TRAFFIC AT THAT TIME INTERVAL:

In [12]:
def replace_NaN_Zero(x, i, index2):
    sum = 0;
    ctr = 0;
    for index, rows in df[i].iteritems():
        if(df['Roadway Name'].loc[index]==x and not(np.isnan(df[i].loc[index])) and df[i].loc[index]!=0):
            sum = sum + df[i].loc[index]
            ctr = ctr+1;
    try:
        df[i].loc[index2] = int(math.ceil((sum/ctr)))
    except:
        print("Exception : ", x)

In [13]:
li = ['12:00-1:00 AM','1:00-2:00AM', '2:00-3:00AM','3:00-4:00AM', '4:00-5:00AM','5:00-6:00AM', '6:00-7:00AM','7:00-8:00AM',
      '8:00-9:00AM','9:00-10:00AM','10:00-11:00AM','11:00-12:00PM','12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
      '4:00-5:00PM', '5:00-6:00PM','6:00-7:00PM','7:00-8:00PM','8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']
for i in li:
    for index, rows in df[i].iteritems():
        if(np.isnan(df[i].loc[index]) or df[i].loc[index]==0):
            replace_NaN_Zero(df['Roadway Name'].loc[index], i, index)

C:\Users\B S KUMARASWAMY\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

##### To write to a file in csv format

In [14]:
df.to_csv("Data_cleaned_2012.csv")