Data Cleaning : 
1. Identify the np.NaN values, zero.
2. Find the Roadway, time interval.
3. Find the mean of those columns.
4. Why columns mean and not row mean?
5. Replace the NaN values.

##### IMPORT PACKAGES, ASSIGN DATAFRAME

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import math

In [2]:
sns.set(style="whitegrid", color_codes=True)
plt.style.use('fivethirtyeight')

In [3]:
df = pd.read_csv("Traffic_Counts_2011-2012.csv")

In [4]:
df.head()

,ID,GIS ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20,10,11,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21,16,8,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27,14,6,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/12/2012,22,7,7,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/13/2012,31,17,7,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0

In [5]:
df.columns

Index(['ID', 'GIS ID', 'Roadway Name', 'From', 'To', 'Direction', 'Date',
       '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM',
       '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM',
       '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM', '11:00-12:00PM',
       '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
       '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM',
       '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM'],
      dtype='object')

###### TO REPLACE THE NaN, ZERO VALUES WITH MEAN OF THE STREET TRAFFIC AT THAT TIME INTERVAL:

In [6]:
def replace_NaN_Zero(x, i, index2):
    sum = 0;
    ctr = 0;
    for index, rows in df[i].iteritems():
        if(df['GIS ID'].loc[index]==x and not(np.isnan(df[i].loc[index])) and df[i].loc[index]!=0):
            sum = sum + df[i].loc[index]
            ctr = ctr+1;
    try:
        df[i].loc[index2] = int(math.ceil((sum/ctr)))
    except:
        print("Exception : ", x)

In [7]:
li = ['12:00-1:00 AM','1:00-2:00AM', '2:00-3:00AM','3:00-4:00AM', '4:00-5:00AM','5:00-6:00AM', '6:00-7:00AM','7:00-8:00AM',
      '8:00-9:00AM','9:00-10:00AM','10:00-11:00AM','11:00-12:00PM','12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
      '4:00-5:00PM', '5:00-6:00PM','6:00-7:00PM','7:00-8:00PM','8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']
for i in li:
    for index, rows in df[i].iteritems():
        if(np.isnan(df[i].loc[index]) or df[i].loc[index]==0):
            replace_NaN_Zero(df['GIS ID'].loc[index], i, index)

C:\Users\B S KUMARASWAMY\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  41761
Exception :  1886
Exception :  1886
Exception :  41761
Exception :  41761
Exception :  1886
Exception :  1886
Exception :  41761
Exception :  41761
Exception :  1886
Exception :  1886
Exception :  41761
Exception :  41761

###### TO CONVERT THE DATATYPES INTO INT32 FROM FLOAT64:

In [8]:
li = ['12:00-1:00 AM','1:00-2:00AM', '2:00-3:00AM','3:00-4:00AM', '4:00-5:00AM','5:00-6:00AM', '6:00-7:00AM','7:00-8:00AM',
      '8:00-9:00AM','9:00-10:00AM','10:00-11:00AM','11:00-12:00PM','12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
      '4:00-5:00PM', '5:00-6:00PM','6:00-7:00PM','7:00-8:00PM','8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']

In [ ]:
def to_Integer(x):
    for index, rows in df[x].iteritems():
        if(not(np.isnan(df[x].loc[index]))):
            df[x].loc[index] = int(df[x].loc[index])
            
for i in li:
     to_Integer(i)

In [9]:
df[li] = df[li].astype(int)

In [11]:
df.to_csv("Data_cleaned_2011.csv")

In [ ]:
import string
for index,row in df['Date'].iteritems():
    df['Date'].loc[index] = df['Date'].loc[index].replace('-', '/')

In [ ]:
for index, rows in df['GIS ID'].iteritems():
        if(np.isnan(df[i].loc[index]) or df[i].loc[index]==0):
            replace_NaN_Zero(df['GIS ID'].loc[index], i, index)

In [ ]:
df.head()

In [2]:
df = pd.read_csv("Data_cleaned_2011.csv")

In [6]:
df = df.dropna()

In [4]:
li = ['12:00-1:00 AM','1:00-2:00AM', '2:00-3:00AM','3:00-4:00AM', '4:00-5:00AM','5:00-6:00AM', '6:00-7:00AM','7:00-8:00AM',
      '8:00-9:00AM','9:00-10:00AM','10:00-11:00AM','11:00-12:00PM','12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
      '4:00-5:00PM', '5:00-6:00PM','6:00-7:00PM','7:00-8:00PM','8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']

In [12]:
df[li] = df[li].astype(int)
df[['ID', 'GIS ID']] = df[['ID', 'GIS ID']].astype(int)

In [13]:
df.dtypes

Unnamed: 0       float64
ID                 int32
GIS ID             int32
Roadway Name      object
From              object
To                object
Direction         object
Date              object
12:00-1:00 AM      int32
1:00-2:00AM        int32
2:00-3:00AM        int32
3:00-4:00AM        int32
4:00-5:00AM        int32
5:00-6:00AM        int32
6:00-7:00AM        int32
7:00-8:00AM        int32
8:00-9:00AM        int32
9:00-10:00AM       int32
10:00-11:00AM      int32
11:00-12:00PM      int32
12:00-1:00PM       int32
1:00-2:00PM        int32
2:00-3:00PM        int32
3:00-4:00PM        int32
4:00-5:00PM        int32
5:00-6:00PM        int32
6:00-7:00PM        int32
7:00-8:00PM        int32
8:00-9:00PM        int32
9:00-10:00PM       int32
10:00-11:00PM      int32
11:00-12:00AM      int32
dtype: object

In [14]:
df.to_csv("Data_cleaned_2011.csv")